.header-secondary {
  background: $mediumgray;
  justify-content: space-between;

  .separator {
    display: inline-block;
    width: 1px;
    height: 50px;
    border-radius: 0.5px;
    background-color: $lightgray2;
    opacity: 0.25;
    margin: 0 10px;
  }
}

.ui-group {
  display: flex;
  justify-content: flex-start;
  margin: 0 10px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  & > * {
    margin-right: 7px;

    &:last-child {
      margin-right: 0;
    }
  }

  &.ui-group-toggle > * {
    margin-right: 0;
  }
}
